.house-info .OWNERED h2 , .house-info .INIT_REG h2 , .house-info .INIT_REG_CONFIRM h2{
    color: #3c763d;

}

.house-info .OWNERED .label , .house-info .INIT_REG .label{
    background-color: #5cb85c;
}

.house-info .CONTRACTS_RECORD h2 , .house-info .SALE_REGISTER h2{
    color: #31708f;
}

.house-info .CONTRACTS_RECORD .label , .house-info .SALE_REGISTER .label{
    background-color: #5bc0de;
}


.house-info .DIVERT_REGISTER h2{
    color: #337ab7;
}

.house-info .DIVERT_REGISTER .label{
    background-color: #337ab7;
}

.house-info .SALE_MORTGAGE_REGISTER h2 , .house-info .DIVERT_MORTGAGE_REGISTER h2 , .house-info .DECLARE_CANCEL h2{
    color: #8a6d3b;
}

.house-info .SALE_MORTGAGE_REGISTER .label , .house-info .DIVERT_MORTGAGE_REGISTER .label , .house-info .DECLARE_CANCEL .label{
    background-color: #f0ad4e;
}


.house-info .PLEDGE h2 , .house-info .PROJECT_PLEDGE h2 , .house-info .DIFFICULTY h2 , .house-info .COURT_CLOSE h2{
    color: #a94442;
}

.house-info .PLEDGE .label , .house-info .PROJECT_PLEDGE .label , .house-info .DIFFICULTY .label , .house-info .COURT_CLOSE .label{
    background-color: #d9534f;
}

.house-info .DESTROY h2{
    color: #777;
    text-decoration: line-through;
}

.house-info .DESTROY .label{
    background-color: #777;
}


.task-type.BACK{
    color: #fff;
    background-color: #f0ad4e;
}

.task-type.CHECK_ACCEPT{
    color: #fff;
    background-color: #60b044;
}

.task-type.CHECK_ACCEPT .task-oper.CHECK_ACCEPT {
    color:#fff;
}

.task-type.CHECK_BACK{
    color: #fff;
    background-color: #a94442;
}

/*
.task-type.TERMINATION, .task-type.SUSPEND, .task-type.CONTINUE, .task-type.ASSIGN{
    color: #fff;
    background-color: #337ab7;
}
*/

.task-oper.NEXT, .task-oper.CREATE{
    color: #5bc0de;
}

.task-oper.NEXT:before, .task-oper.CREATE:before {
    content: '\f01f';
}

.task-oper.TERMINATION{
    color: #d9534f;
}

.task-oper.TERMINATION:before {
    content: '\f053';
}

.task-oper.SUSPEND{
    color: #f0ad4e;;
}

.task-oper.SUSPEND:before {
    content: '\f0bb';
}

.task-oper.CONTINUE{
    color:#5cb85c;
}

.task-oper.CONTINUE:before {
    content: '\f0bf';
}

.task-oper.ASSIGN{
    color: #337ab7;
}

.task-oper.ASSIGN:before{
    content: '\f018';
}


.task-oper.BACK:before{
    content: '\f0ac';
}

.task-oper.CHECK_ACCEPT {
    color:#5cb85c;
}

.task-oper.CHECK_ACCEPT:before{
    content: '\f03a';
}

.task-oper.CHECK_BACK{
    color: #d9534f;
}

.task-oper.CHECK_BACK:before{
    content: '\f081';
}

.boxed-group-inner{
    padding: 0;
}

.label-biz-status.RUNNING{
    background-color:#337ab7;
}
.label-biz-status.COMPLETE{
    background-color: #5cb85c;
}
.label-biz-status.ABORT{
    background-color: #777;
}
.label-biz-status.SUSPEND{
    background-color: #f0ad4e;
}
.label-biz-status.CANCEL{
    background-color: #d9534f;
}

.label-biz-status.MODIFY{
    background-color: #d9534f;
}

.label-biz-status.MODIFYING{
    background-color: #d9534f;
}


/* full task status*/



.status-list-group  .notifications .list-group-item{
    padding-left: 45px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.status-list-group .notification-actions{
    right: 20px;
    top: 10px;
}

.status-list-group .notification-actions .time{
    font-size: 12px;
    color: #767676;
}

.status-list-group .list-item-title{
    font-weight: bold; font-size: 14px
}

.status-list-group .list-item-description{
    padding-left: 10px; color: #767676;line-height: 13px; margin-top:4px; font-size: 13px;
}

.status-list-group .status-icon{
    color: #767676;;
}


.task-status-group{
    display: inline-block;
    min-width: 80px;
}

.task-status-group .task-status{
    margin-left: 10px;
}


/*-------*/