form {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

input[type=button], input[type=reset], input[type=submit]{
    margin-left: 4px;
}

.panel-menu-link{

}

.panel-menu-panel{
    z-index: 9999;
    background: #fff;
    border: 1px solid #ddd;

    -webkit-box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.15);
    box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.15);
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 3px 3px;

    position: absolute;
    left: 122px;
    top: 80px;
    padding: 20px 0;
}

.table-floatThead thead{

}

.thead-floating thead{
    background-color: #eee;
}
.thead-floating .table-tools-header{
    background-color:#ffffff;
}

.select-menu-btn:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 140px;
}

#main-navigation .dropdown-menu {
    z-index: 9999;
    background: #fff;
    border: 1px solid #ddd;

    -webkit-box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.15);
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 3px 3px;
    width: 600px;
    margin: 11px 0 0 -28px;
    left: 0;

}

.logo-icon {
    display: inline-block;
    float: left;
}

#main-navigation .dropdown {
    display: inline-block;
    float: left;
}

.sub-cats {
    float: left;
    padding: 30px 30px 10px 40px;
    overflow: hidden;
}

.sub-cats ul {
    text-align: left;
}

.col {
    width: 169px;
    float: left;
    padding-right: 40px;
}

.col li {
    padding: 15px 0 0;
    display: block;
    margin: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
}

.col a {
    color: #555;
}

.titles {
    display: table;
    border-collapse: separate;
    border-spacing: 40px 0;
    margin-left: -40px;
    table-layout: fixed;
}

.titles ul {
    display: table-row;
}

.titles ul li {
    vertical-align: top;
    display: table-cell;
    width: 129px;
    word-break: break-word;
}

.title {
    padding: 0 0 10px;
    color: #555;
    border-bottom: 1px solid #dadada;
    font-weight: bold;
    font-size: 12px;
}

.user-icon {
    background-size: 20px 20px;
    border-radius: 50%;
    margin: -1px;
    height: 20px;
    width: 20px;
    white-space: nowrap;
    display: inline-block;
    background-image: url(../img/default_user.jpg);
}

.funtion-nav {
    top: 4px;
    z-index: 50;
    min-height: 22px;
    margin-left: 0px;
    padding: 5px 10px 0px 10px;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    font-size: 23px;
    color: #444;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
}

.funtion-nav:hover {

    background-color: #FFF;
    text-decoration: none;
}

.funtion-nav:focus {
    background-color: #FFF;
    text-decoration: none;
    border-color: #d26911 #ddd;
    border-radius: 3px 3px 0 0;
    border-style: solid;
    border-width: 2px 1px 0;
    box-shadow: 2px 0 0 #eee;
}

#func-navigation .dropdown {
    display: inline-block;
}

#func-navigation .dropdown-menu {

}

.funcTitle {
    font-size: 20px;
    color: #444;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    width: 200px;
}


.mini-select{


}

.mini-select > button{
    border-radius: 3px !important;
}

.i-separator:before, .i-separator:after{
    content: " ";
}

.btn-sm-icon{
    padding: 4px 10px;
}



.dropdown-menu-git {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 100;
    width: 160px;
    margin-top: 2px;
    margin-left: -80px;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15)
}

.dropdown-menu-git:before {
    position: absolute;
    top: -16px;
    left: 72px;
    display: inline-block;
    content: "";
    border: 8px solid transparent;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.15)
}

.dropdown-menu-git:after {
    position: absolute;
    top: -14px;
    left: 73px;
    display: inline-block;
    content: "";
    border: 7px solid transparent;
    border-bottom-color: #fff
}

.dropdown-menu > li > a {
    display: block;
    padding: 4px 10px 4px 38px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.dropdown-menu > li > a > .octicon, .dropdown-menu > li > a > .menu-icon, .dropdown-menu > li > a > .glyphicon {
    float: left;
    margin-top: 1px;
    margin-left: -23px;
    opacity: 0.5
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a.zeroclipboard-is-hover {
    color: #fff;
    text-decoration: none;
    background: #4183c4
}

.dropdown-menu > li > a:hover > .octicon, .dropdown-menu > li > a:hover > .menu-icon , .dropdown-menu > li > a:hover > .glyphicon, .dropdown-menu > li > a.zeroclipboard-is-hover > .octicon, .dropdown-menu > li > a.zeroclipboard-is-hover > .glyphicon {
    color: inherit;
    opacity: 1
}



.dropdown-noicon > li > a {
    padding: 3px 20px;
}

.btn-group-sm .octicon {
    font-size: 18px;
}

.select-menu-item:focus {
    background-color: #4183c4;
    color: #fff;
}

.select-menu-item:hover {
    background-color: #4183c4;
    color: #fff;
}

.select-menu-list .selected:focus .select-menu-item-icon {
    color: #fff;
}

.select-menu-list .selected:hover .select-menu-item-icon {
    color: #fff;
}

.delete-data {
    color: #c7254e;
    text-decoration: line-through;
}

.select-menu-btn {

}

.select-menu-btn:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 140px;
}

.select-menu-btn .selectpicker:focus {
    outline: 0 !important;
    outline: 0px auto -webkit-focus-ring-color !important;
    /* outline-offset: -2px; */
}

.select-menu-item{
    border-spacing: 0;
    border-collapse: separate;
}

.btn-img{
    display:inline;
}

.btn-img:focus{
    outline: 0;
}

.data-dialog{

}

.data-dialog .modal-backdrop{
    display: block;
}

.required {
    color: #FF0000;
    padding-left: 2px;
}

.edit-valid input[type="text"]{
    background-image: url('#{facesContext.externalContext.requestContextPath}/img/octocat-spinner-32.gif');
    background-size: 16px;
    background-position-x: 98%;
}

.edit-success input[type="text"]{
    background-image: url('#{facesContext.externalContext.requestContextPath}/img/success-edit.png');
    background-position-x: 98%;
}

.edit-error input[type="text"]{
    background-image: url('#{facesContext.externalContext.requestContextPath}/img/error-edit.png');
    background-position-x: 98%;
}

.edit-below-msg{

}

.edit-below-msg .rf-msg-err{
    display: inline-block;
    padding: 5px;
    font-size: 11px;
    color: #494620;
    background: #f7ea57;
    border: 1px solid #c0b536;
    border-top-color: #fff;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    font-weight: bold;
    position: relative;
    margin-left: 0;
}

.edit-below-msg .rf-msg-err .rf-msg-det{
    font-family: "microsoft yahei", Helvetica, Arial, "宋体", sans-serif;
    font-weight: bold;
}

.edit-below-msg .rf-msg-err .rf-msg-det:before{
     content: "";
}

.slash{
    float: left;
    font-size: 21px;
    color: #666;
    padding-top: 32px;
    margin: 0 8px;
}


.js-input-field dl{
    margin-top: 5px;
    margin-bottom: 0;
}

.modal-header .facebox-header{
    margin: -15px -15px 0px;
    padding: 15px 15px 0px;
    border-bottom: 0;
}

.submit{
    margin: 0 0 0 5px;
}

.table-actions{
    margin-left: 20px
}

.table-action {

    position: relative;
    font-size: 12px;
    vertical-align: top;

    float: left;
    display: block;
    color: #999;
    padding: 3px 10px 0 10px;
}

.table-action .octicon {
    margin-right: 2px
}

.table-action .octicon-pencil {
    font-size: 14px
}

.table-action:hover {
    color: #4183c4;
    cursor: pointer;
    text-decoration: none;
}

.table-action:active {
    text-decoration: none;
}
.table-action:focus{
    text-decoration: none;
}

.glyphicon-switch{
    font-size: 14px;
    line-height: 1.5;
}

.bootstrap-switch-container .glyphicon{
    font-size: 14px;
    line-height: 1.5;
    padding: 0 3px;
}

.table-tools-header{
    border-bottom: 1px solid #f1f1f1 !important;;
    padding-right: 0 !important;
}

.table-tools-header h3{
    margin: 0;
}

.table-tools-header .select-menu{
    float: right;
}

.table-top-total.select-menu{
    padding-bottom: 5px;
}

.table-top-total.select-menu .btn-group{
    float: right;
}

.table-header{
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;

    padding: 8px;
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
}

.result-data-table{
    margin-top: 20px;
}

.btn-git{
    font-size: 13px;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}

.rf-ii-fld-cntr input[type = "text"]{
    height: 25px;
    min-height: 25px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}


.form-inline .form-big-switch{
    display: inline-block;

    padding: 22px 8px 0 8px;

}

.note{
    min-height: 17px;
    margin: 4px 0 2px;
    font-size: 12px;
    color: #777;
}

.form-inline .form-group{
    margin-right: 4px;
}


.flow-steps{overflow:hidden;margin:20px 0;}
.num3{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.num4{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.num5{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.num6{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.flow-steps .num3 li{width:233px;}
.flow-steps .num4 li{width:233px;}
.flow-steps .num5 li{width:184px;}
.flow-steps .num6 li{width:143px;}
.flow-steps li{
    float:left;
    background:#e4e4e4 url('#{facesContext.externalContext.requestContextPath}/img/flow_steps_bg.png') no-repeat 100% 0;
    font-size:14px;
    font-weight:bold;
    height:23px;
    line-height:23px;
    text-align:center;
    color:#404040;
    padding:0 15px 0 0;
    overflow:hidden;}

.flow-steps li span,.flow-steps li strong{display:block;}
.flow-steps li .first{background:#e4e4e4 url('#{facesContext.externalContext.requestContextPath}/img/flow_steps_bg.png') no-repeat -12px -69px;}
.flow-steps li.last{background-position:100% -138px;}
.flow-steps li.current{background-color:#f60;color:#fff;}
.flow-steps li.current .first{background-color:#f60;background-position:-12px -92px;}
.flow-steps li.current-prev{background-position:100% -23px!important;}
.flow-steps li.done{background-color:#ffe6ba;background-position:100% -46px;color:#f60;}
.flow-steps li.done .first{background-color:#ffe6ba;background-position:-12px -115px;}
.flow-steps li.last-current{background-color:#f60;color:#fff;background-position:100% -161px;}


.detailsTable{
    width: 100%;
    table-layout: fixed;
}

.detailsTable th{
    white-space: nowrap;
    text-align: center;
    background-color: #f9f9f9;
    min-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detailsTable td{
    white-space: nowrap;
    min-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.details-context-td{
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
}

.details-table-group{
    text-align: center !important;
    vertical-align: middle !important;

}

.expand-details-tr{
    display: none;
}

.details-expand-handle{
    color: #4183c4;
    background-image: url("#{resource['org.richfaces:up_icon.gif']}");
    background-size: 16px;
    background-position-x: 98%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    cursor: hand;
}

.details-expand-handle.expanded{
    background-image: url("#{resource['org.richfaces:down_icon.gif']}");

}


.label-label{
    color:#333;
    font-weight: bold;
    padding: 8px 10px;
}


.input-group-first button{
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.input-group-mid button{
    border-radius: 0px !important;
}




.table-list-header-toggle .minibutton{
    margin-top: 10px;
    margin-right: 10px;
}

.table-list-header-toggle .table-list-header-editor{
    margin: 7px 7px 6px 7px;
}

.table-new-label{
    border-radius: 0;margin-bottom: 0; border-bottom: 0; margin-right: 1px;
}



.errors {
    color: #FF0000;
    vertical-align: middle;
}



.glyphicon-large:before {
    font-size: 1.3333333333333333em;
}

.context-modal-panel{
    border: 0;
}

.context-modal-panel .rf-pp-cnt {
    padding: 0;
}

.rf-pp-shade{
    z-index: 1040 !important;
}


.rf-pp-cntr{
    z-index: 1040 !important;
}


.transparent-popup{
    border: 0;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.transparent-popup .rf-pp-cnt-scrlr{
    background: transparent;
}

.context-panel{
    margin-right: 0;
    margin-left: 0;

    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-style: solid;

    position: relative;
    padding: 15px 15px 15px;
    background-color: #f7f7f9;
}

.card-panel{


    padding: 9px 14px;
    margin-bottom: 14px;

    border: 1px solid #e1e1e8;


    margin-top: -1px;
    margin-right: 0;
    margin-left: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
}

.boxed-group-table.table>tbody>tr>td{
    border-top: 0;
}

.boxed-group-table.table-condensed>tbody>tr>td, .boxed-group-table.table-condensed>tbody>tr>th, .boxed-group-table.table-condensed>tfoot>tr>td, .boxed-group-table.table-condensed>tfoot>tr>th, .boxed-group-table.table-condensed>thead>tr>td, .boxed-group-table.table-condensed>thead>tr>th{
    padding: 8px;
}

.boxed-group-table.table-hover>tbody>tr:hover {
    background-color: #f5f9fc;
}


.list-group-item .type-icon {
    float: left;
    margin-top: 1px;
    margin-left: -24px;
}

.btn .btn-icon.octicon{
    padding: 2px 0;
}

.btn-sm .btn-icon.glyphicon{
    padding: 3.5px 0;
}

.list-group.list-condensed .list-group-item{
    padding: 10px 15px;
}





