form {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

#main-navigation .dropdown-menu {
    z-index: 9999;
    background: #fff;
    border: 1px solid #ddd;

    -webkit-box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.15);
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 3px 3px;
    width: 600px;
    margin: 11px 0 0 -28px;
    left: 0;

}

.logo-icon {
    display: inline-block;
    float: left;
}

#main-navigation .dropdown {
    display: inline-block;
    float: left;
}

.sub-cats {
    float: left;
    padding: 30px 30px 10px 40px;
    overflow: hidden;
}

.sub-cats ul {
    text-align: left;
}

.col {
    width: 169px;
    float: left;
    padding-right: 40px;
}

.col li {
    padding: 15px 0 0;
    display: block;
    margin: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
}

.col a {
    color: #555;
}

.titles {
    display: table;
    border-collapse: separate;
    border-spacing: 40px 0;
    margin-left: -40px;
    table-layout: fixed;
}

.titles ul {
    display: table-row;
}

.titles ul li {
    vertical-align: top;
    display: table-cell;
    width: 129px;
    word-break: break-word;
}

.title {
    padding: 0 0 10px;
    color: #555;
    border-bottom: 1px solid #dadada;
    font-weight: bold;
    font-size: 12px;
}

.user-icon {
    background-size: 20px 20px;
    border-radius: 50%;
    margin: -1px;
    height: 20px;
    width: 20px;
    white-space: nowrap;
    display: inline-block;
    background-image: url(../img/default_user.jpg);
}

.funtion-nav {
    top: 4px;
    z-index: 50;
    min-height: 22px;
    margin-left: 0px;
    padding: 5px 10px 0px 10px;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    font-size: 23px;
    color: #444;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
}

.funtion-nav:hover {

    background-color: #FFF;
    text-decoration: none;
}

.funtion-nav:focus {
    background-color: #FFF;
    text-decoration: none;
    border-color: #d26911 #ddd;
    border-radius: 3px 3px 0 0;
    border-style: solid;
    border-width: 2px 1px 0;
    box-shadow: 2px 0 0 #eee;
}

#func-navigation .dropdown {
    display: inline-block;
}

#func-navigation .dropdown-menu {

}

.funcTitle {
    font-size: 20px;
    color: #444;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    width: 200px;
}

.dropdown-menu-git {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 100;
    width: 160px;
    margin-top: 2px;
    margin-left: -80px;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15)
}

.dropdown-menu-git:before {
    position: absolute;
    top: -16px;
    left: 72px;
    display: inline-block;
    content: "";
    border: 8px solid transparent;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.15)
}

.dropdown-menu-git:after {
    position: absolute;
    top: -14px;
    left: 73px;
    display: inline-block;
    content: "";
    border: 7px solid transparent;
    border-bottom-color: #fff
}

.dropdown-menu > li > a {
    display: block;
    padding: 4px 10px 4px 38px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.dropdown-menu > li > a > .octicon, .dropdown-menu > li > a > .glyphicon {
    float: left;
    margin-top: 1px;
    margin-left: -23px;
    opacity: 0.5
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a.zeroclipboard-is-hover {
    color: #fff;
    text-decoration: none;
    background: #4183c4
}

.dropdown-menu > li > a:hover > .octicon, .dropdown-menu > li > a:hover > .glyphicon, .dropdown-menu > li > a.zeroclipboard-is-hover > .octicon, .dropdown-menu > li > a.zeroclipboard-is-hover > .glyphicon {
    color: inherit;
    opacity: 1
}

.dropdown-noicon > li > a {
    padding: 3px 20px;
}

.btn-group-sm .octicon {
    font-size: 18px;
}

.select-menu-item:focus {
    background-color: #4183c4;
    color: #fff;
}

.select-menu-item:hover {
    background-color: #4183c4;
    color: #fff;
}

.select-menu-list .selected:focus .select-menu-item-icon {
    color: #fff;
}

.select-menu-list .selected:hover .select-menu-item-icon {
    color: #fff;
}

.delete-data {
    color: #c7254e;
    text-decoration: line-through;
}

.select-menu-btn {

}

.select-menu-btn .selectpicker:focus {
    outline: 0 !important;
    outline: 0px auto -webkit-focus-ring-color !important;
    /* outline-offset: -2px; */
}

.btn-img{
    display:inline;
}

.btn-img:focus{
    outline: 0;
}

.data-dialog{

}

.data-dialog .modal-backdrop{
    display: block;
}

.required {
    color: #FF0000;
    padding-left: 2px;
}

.edit-valid input[type="text"]{
    background-image: url('#{facesContext.externalContext.requestContextPath}/img/octocat-spinner-32.gif');
    background-size: 16px;
    background-position-x: 99%;
}

.edit-success input[type="text"]{
    background-image: url('#{facesContext.externalContext.requestContextPath}/img/success-edit.png');
    background-position-x: 99%;
}

.edit-error input[type="text"]{
    background-image: url('#{facesContext.externalContext.requestContextPath}/img/error-edit.png');
    background-position-x: 99%;
}

.big-edit-msg{

}

.big-edit-msg .rf-msg-err{
    display: inline-block;
    padding: 5px;
    font-size: 11px;
    color: #494620;
    background: #f7ea57;
    border: 1px solid #c0b536;
    border-top-color: #fff;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    font-weight: bold;
    position: relative;
    margin-left: 0;
}


